<div class=" single-product-box text-black">
    <img width="full" height="full" src="{{ "product-1.png"  | asset_url }}" alt="">
    <p class="my-3 font-bold text-[20px]">{{ product.title }}</p>
    <div class="flex items-center my-2">
      <div class="flex mr-2">
        {% for i in (1..5) %}
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17" fill="none">
            <path d="M9.24494 0.255005L11.8641 5.89491L18.0374 6.6431L13.4829 10.8769L14.679 16.9793L9.24494 13.956L3.8109 16.9793L5.00697 10.8769L0.452479 6.6431L6.62573 5.89491L9.24494 0.255005Z" fill="#FFC633"/>
          </svg>
        {% endfor %}
      </div>
      <span>4.5</span>
    </div>
    <span class="text-2xl font-bold">$120</span>
</div>


<script>
  console.log(product)
</script>