<!doctype html>
<html>
    <head>
        <title>Shopify Blank Theme</title>

        {{ 'style.css' | asset_url | stylesheet_tag }}
        {{ 'tailwind.css' | asset_url | stylesheet_tag }}

        {{content_for_header}}
    </head>
    <body>

        {% render "header" %}

        {{content_for_layout}}
       
        
        
        {% render "footer" %}
        
    </body>
</html>