<div class="">
    <div class="container">
        <div class="border-t border-gray-200 pt-10 pb-12">
            <div class="flex items-center">
                <a href="#">Home </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M6.53073 2.46937L11.5307 7.46937C11.6007 7.53905 11.6561 7.62184 11.694 7.71301C11.7318 7.80417 11.7513 7.90191 11.7513 8.00062C11.7513 8.09933 11.7318 8.19707 11.694 8.28824C11.6561 8.3794 11.6007 8.46219 11.5307 8.53187L6.53073 13.5319C6.38984 13.6728 6.19874 13.7519 5.99948 13.7519C5.80023 13.7519 5.60913 13.6728 5.46823 13.5319C5.32734 13.391 5.24818 13.1999 5.24818 13.0006C5.24818 12.8014 5.32734 12.6103 5.46823 12.4694L9.93761 8L5.46761 3.53062C5.32671 3.38973 5.24756 3.19863 5.24756 2.99937C5.24756 2.80011 5.32671 2.60902 5.46761 2.46812C5.60851 2.32723 5.7996 2.24807 5.99886 2.24807C6.19812 2.24807 6.38921 2.32723 6.53011 2.46812L6.53073 2.46937Z" fill="black" fill-opacity="0.6"/>
                  </svg>
                  <span class="text-black">Cart</span>
            </div>
            <h1 class="section-title mb-6">Your Cart</h1>
            
            <div class="flex  ">
                <div class="border border-gray-200 rounded-2xl w-9/12 p-5 mr-6">
                    <div class="-my-6">
                        {% for i in (1..3) %}
                            <div class="flex items-center py-6">
                                <div class="w-2/12 min-w-max  mr-4 ">
                                    <img width="full" height="full" src={{ "t-shirt.jpg" | asset_url }} alt="">
                                </div>
                                <div class="w-7/12 ">
                                    <h5>Gradient Graphic T-shirt </h5>
                                    <div>Size: Large</div>
                                    <div>Color: White</div>
                                    <div class="text-2xl">$145</div>
                                </div>
                                <div class="w-3/12 h-full flex flex-col space-y-10 items-end ">
                                    <div>
                                        <button class="cursor-pointer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M20.25 4.5H16.5V3.75C16.5 3.15326 16.2629 2.58097 15.841 2.15901C15.419 1.73705 14.8467 1.5 14.25 1.5H9.75C9.15326 1.5 8.58097 1.73705 8.15901 2.15901C7.73705 2.58097 7.5 3.15326 7.5 3.75V4.5H3.75C3.55109 4.5 3.36032 4.57902 3.21967 4.71967C3.07902 4.86032 3 5.05109 3 5.25C3 5.44891 3.07902 5.63968 3.21967 5.78033C3.36032 5.92098 3.55109 6 3.75 6H4.5V19.5C4.5 19.8978 4.65804 20.2794 4.93934 20.5607C5.22064 20.842 5.60218 21 6 21H18C18.3978 21 18.7794 20.842 19.0607 20.5607C19.342 20.2794 19.5 19.8978 19.5 19.5V6H20.25C20.4489 6 20.6397 5.92098 20.7803 5.78033C20.921 5.63968 21 5.44891 21 5.25C21 5.05109 20.921 4.86032 20.7803 4.71967C20.6397 4.57902 20.4489 4.5 20.25 4.5ZM10.5 15.75C10.5 15.9489 10.421 16.1397 10.2803 16.2803C10.1397 16.421 9.94891 16.5 9.75 16.5C9.55109 16.5 9.36032 16.421 9.21967 16.2803C9.07902 16.1397 9 15.9489 9 15.75V9.75C9 9.55109 9.07902 9.36032 9.21967 9.21967C9.36032 9.07902 9.55109 9 9.75 9C9.94891 9 10.1397 9.07902 10.2803 9.21967C10.421 9.36032 10.5 9.55109 10.5 9.75V15.75ZM15 15.75C15 15.9489 14.921 16.1397 14.7803 16.2803C14.6397 16.421 14.4489 16.5 14.25 16.5C14.0511 16.5 13.8603 16.421 13.7197 16.2803C13.579 16.1397 13.5 15.9489 13.5 15.75V9.75C13.5 9.55109 13.579 9.36032 13.7197 9.21967C13.8603 9.07902 14.0511 9 14.25 9C14.4489 9 14.6397 9.07902 14.7803 9.21967C14.921 9.36032 15 9.55109 15 9.75V15.75ZM15 4.5H9V3.75C9 3.55109 9.07902 3.36032 9.21967 3.21967C9.36032 3.07902 9.55109 3 9.75 3H14.25C14.4489 3 14.6397 3.07902 14.7803 3.21967C14.921 3.36032 15 3.55109 15 3.75V4.5Z" fill="#FF3333"/>
                                            </svg>
                                        </button>
                                    </div>
                                    
                                    {% render 'increment-decrement' %}
                                </div>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
                
                <div class="w-3/12 min-h-max border border-gray-200 rounded-2xl p-5">
                    <div class="text-2xl font-bold">Order Summery</div>
                    <div class="flex justify-between mt-4 text-xl">
                        <span class="">Subtotal</span>
                        <span>$565</span>
                    </div>
                    <div class="flex justify-between mt-4 text-xl">
                        <span class="">Discount (-20%)</span>
                        <span>-$113</span>
                    </div>
                    <div class="flex justify-between my-4 text-xl">
                        <span class="">Delivery Fee</span>
                        <span>$15</span>
                    </div>
                    <div class="h-[2px] bg-gray-200 mt-4"></div>

                    <div class="flex justify-between my-4 text-xl">
                        <span class="">Total</span>
                        <span>$467</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
